.ts-campaign-metrics {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  grid-row-gap: 0.625rem;
  margin-top: 0.875rem;
  justify-content: space-between;
}

.ts-campaign-details-metrics {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.ts-campaign-metrics-title {
  line-height: 1.25rem;
  margin-bottom: 0.75rem;
}

.ts-metrics-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 0.625rem;
}

.ts-metrics-grid > .ts-metric {
  display: flex;
  font-size: 0.875rem;
  line-height: 150%;
}

.ts-metric .ts-svg {
  color: #826af9;
}

.ts-metric-content {
  display: flex;
  flex-direction: column;
  margin-left: 0.375rem;
}

.ts-metric-value {
  font-weight: 450;
  color: var(--ts-font-color-60);
}

.ts-metric-title {
  line-height: 24px;
}

.ts-campaign-ending__email_text {
  font-size: 0.75rem;
  font-weight: 450;
  line-height: 150%;
  color: var(--ts-disabled-color);
}