.ts-metrics-chart-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: var(--ts-radius-md);
}

.ts-chart-date-dropdown {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0.5rem;
}

/* flex flex-shrink-0 items-center justify-end px-2 */
