.ts-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  border: var(--ts-border);
  padding: 0.75rem 1.375rem;
}

.ts-button--inline,
.ts-button--text {
  border-color: transparent;
  background-color: transparent;
  color: var(--ts-primary-color);
}

.ts-button--inline.ts-button--secondary,
.ts-button--text.ts-button--secondary {
  color: var(--ts-secondary-color);
}

.ts-button--inline.ts-button--danger,
.ts-button--text.ts-button--danger {
  color: var(--ts-danger-color);
}

.ts-button--text:not([disabled]):hover {
  background-color: var(--ts-primary-color-5);
}

.ts-button--text:not([disabled]):hover.ts-button--secondary {
  background-color: var(--ts-secondary-color-5);
}

.ts-button--text:not([disabled]):hover.ts-button--danger {
  background-color: var(--ts-danger-color-5);
}

.ts-button--inline {
  padding: 0;
}

.ts-button--inline:not([disabled]):hover {
  text-decoration: underline;
}

.ts-button--inline:disabled,
.ts-button--text:disabled {
  color: var(--ts-disabled-color);
}

.ts-button--contained {
  background-color: var(--ts-primary-color);
  border-color: transparent;
  color: #fff;
}

.ts-button--contained.ts-button--secondary {
  background-color: var(--ts-secondary-color);
}

.ts-button--contained.ts-button--danger {
  background-color: var(--ts-danger-color);
}

.ts-button--contained:not([disabled]):hover {
  background-color: var(--ts-primary-color-90);
}

.ts-button--contained:not([disabled]):hover.ts-button--secondary {
  background-color: var(--ts-secondary-color-90);
}

.ts-button--contained:not([disabled]):hover.ts-button--danger {
  background-color: var(--ts-danger-color-90);
}

.ts-button--contained:disabled {
  background-color: var(--ts-disabled-color);
}

.ts-button--outlined {
  background-color: #fff;
  color: var(--ts-primary-color);
}

.ts-button--outlined.ts-button--secondary {
  border-color: var(--ts-secondary-color);
  color: var(--ts-secondary-color);
}

.ts-button--outlined.ts-button--danger {
  border-color: var(--ts-danger-color);
  color: var(--ts-danger-color);
}

.ts-button--outlined:not([disabled]):hover {
  background-color: var(--ts-primary-color-5);
}

.ts-button--outlined:not([disabled]):hover.ts-button--secondary {
  background-color: var(--ts-secondary-color-5);
}

.ts-button--outlined:not([disabled]):hover.ts-button--danger {
  background-color: var(--ts-danger-color-5);
}

.ts-button--outlined:disabled {
  border-color: var(--ts-disabled-color);
  color: var(--ts-disabled-color);
}

.ts-button--rounded-sm {
  border-radius: var(--ts-radius-sm);
}

.ts-button--rounded-full {
  border-radius: 9999px;
}

.ts-button:disabled {
  cursor: not-allowed;
}

.ts-promote-button {
  font-weight: 600;
}

.ts-back-button {
  padding: 0.5rem 1.125rem;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  border-radius: 4rem;
}

.ts-back-button:hover {
  background-color: var(--ts-primary-color-5);
}

.ts-close-button {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  width: 1.75rem;
  height: 1.75rem;
  padding: 0;
}

.ts-close-button:hover {
  background-color: var(--ts-primary-color-5);
}
