.ts-campaign-creation__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.ts-campaign-creation__range {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.ts-campaign-creation__range span {
  color: var(--ts-font-color-60);
}

.ts-campaign-creation__range .ts-tooltip-wrapper {
  margin-top: 3.5rem;
}

.ts-campaign-creation__details-callout {
  margin-top: 2rem;
}

.ts-campaign-creation__footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 2.75rem;
}

.ts-stripe-element {
  height: 1.25rem;
  padding: 1rem;
  border-radius: 0.75rem;
  border: 0.0625rem solid #c4c4c4;
  margin-top: 0.75rem;
}

.ts-stripe-element--error {
  border-color: var(--ts-danger-color);
}

.ts-payment-form-error {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0px 5px 8px rgb(0 0 0 / 5%);
  border-radius: var(--ts-radius);
}

.ts-payment-form-error__icon {
  background-color: var(--ts-danger-color-15);
  color: var(--ts-danger-color);
  padding: 0.5rem;
  border-radius: var(--ts-radius);
}

.ts-payment-form-error__list {
  line-height: 1.5;
  font-size: 0.875rem;
  font-weight: 700;
}

.ts-payment-form-error__list ul {
  margin: 0;
  padding-left: 1rem;
}

.ts-payment-form-error__list ul:has(li:only-child) {
  padding-left: 0;
}

.ts-payment-form-error__list li:only-child {
  list-style-type: none;
}

.ts-payment-method {
  display: flex;
  align-items: center;
}
