.ts-modal {
  position: fixed;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  max-width: 95vw;
  max-height: 95vh;
  border-radius: var(--ts-radius);
  background-color: white;
  box-shadow: 0px 5px 8px rgb(0 0 0 / 10%);
  z-index: 1;
  color: var(--ts-font-color);
}

.ts-modal--show {
  display: flex;
}

.ts-modal--hide {
  display: none;
}

.ts-modal-heading {
  padding: 1.875rem;
}

.ts-modal-heading h2 {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin: 0;
  height: 2rem;
}

.ts-modal-heading .ts-svg {
  color: var(--ts-success-color);
}

.ts-modal-content {
  padding: 0 1.875rem 1.875rem;
}
