.ts-modal {
  position: fixed;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32rem;
  max-width: 95vw;
  max-height: 95vh;
  border-radius: var(--ts-radius);
  background-color: white;
  box-shadow: 0px 5px 8px rgb(0 0 0 / 10%);
  z-index: 1;
  color: var(--ts-font-color);
}

.ts-modal--show {
  display: flex;
}

.ts-modal--hide {
  display: none;
}

.ts-modal-heading {
  font-weight: 500;
  margin: 0;
  padding: 1.875rem;
}

.ts-modal-content {
  padding: 0 1.875rem 1.875rem;
  transition: height 0.1s;
}
