:root {
  /* Default primary rgb: */
  --ts-primary-rgb: 94, 59, 221;
  --ts-primary-color: rgb(var(--ts-primary-rgb));
  --ts-primary-color-90: rgba(var(--ts-primary-rgb), 0.9);
  --ts-primary-color-60: rgba(var(--ts-primary-rgb), 0.6);
  --ts-primary-color-40: rgba(var(--ts-primary-rgb), 0.4);
  --ts-primary-color-5: rgba(var(--ts-primary-rgb), 0.05);

  /* Default font rgb: */
  --ts-font-rgb: 0, 0, 0;
  --ts-font-color: rgb(var(--ts-font-rgb));
  --ts-font-color-60: rgba(var(--ts-font-rgb), 0.6);

  --ts-success-rgb: 95, 205, 15;
  --ts-success-color: rgb(var(--ts-success-rgb));
  --ts-success-color-20: rgba(var(--ts-success-rgb), 0.2);

  --ts-disabled-rgb: 128, 128, 128;
  --ts-disabled-color: rgb(var(--ts-disabled-rgb));
  --ts-disabled-color-90: rgba(var(--ts-disabled-rgb), 0.9);
  --ts-disabled-color-5: rgba(var(--ts-disabled-rgb), 0.05);

  --ts-border: 0.0625rem solid var(--ts-primary-color);
  --ts-radius: 0.5rem;
}

.ts-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  border: var(--ts-border);
  padding: 0.75rem 1.375rem;
}

.ts-button--inline,
.ts-button--text {
  border-color: transparent;
  background-color: transparent;
  color: var(--ts-primary-color);
}

.ts-button--text:hover {
  background-color: var(--ts-primary-color-5);
}

.ts-button--inline {
  padding: 0;
}

.ts-button--inline:hover {
  text-decoration: underline;
}

.ts-button--inline:disabled,
.ts-button--text:disabled {
  color: var(--ts-disabled-color);
}

.ts-button--text:disabled:hover {
  background-color: var(--ts-disabled-color-5);
}

.ts-button--contained {
  background-color: var(--ts-primary-color);
  border-color: transparent;
  color: #fff;
}

.ts-button--contained:hover {
  background-color: var(--ts-primary-color-90);
}

.ts-button--contained:disabled {
  background-color: var(--ts-disabled-color);
}

.ts-button--contained:disabled:hover {
  background-color: var(--ts-disabled-color-90);
}

.ts-button--outlined {
  background-color: #fff;
  color: var(--ts-primary-color);
}

.ts-button--outlined:hover {
  background-color: var(--ts-primary-color-5);
}

.ts-button--outlined:disabled {
  border-color: var(--ts-disabled-color);
  color: var(--ts-disabled-color);
}

.ts-button--outlined:disabled:hover {
  background-color: var(--ts-disabled-color-5);
}

.ts-button--rounded-sm {
  border-radius: var(--ts-radius);
}

.ts-button--rounded-full {
  border-radius: 9999px;
}

.ts-button:disabled {
  cursor: not-allowed;
}

.ts-promote-button {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-weight: 600;
}

.ts-close-button {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  width: 1.75rem;
  height: 1.75rem;
  padding: 0;
}

.ts-close-button:hover {
  background-color: var(--ts-primary-color-5);
}

.ts-modal {
  position: fixed;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32rem;
  height: 41.25rem;
  max-width: 95vw;
  max-height: 95vh;
  border-radius: var(--ts-radius);
  background-color: white;
  box-shadow: 0px 5px 8px rgb(0 0 0 / 10%);
  z-index: 1;
  color: var(--ts-font-color);
}

.ts-modal-heading {
  font-weight: 500;
  margin: 0;
  padding: 1.875rem;
}

.ts-modal-content {
  padding: 0 1.875rem 1.875rem;
}

.ts-modal--show {
  display: flex;
}

.ts-modal--hide {
  display: none;
}

.ts-campaign-creation {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ts-campaign-creation__range {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.ts-campaign-creation__range span {
  color: var(--ts-font-color-60);
}

.ts-campaign-creation__range .ts-tooltip-wrapper {
  margin-top: 3.5rem;
}

.ts-campaign-creation__details-callout {
  margin-top: 2rem;
}

.ts-campaign-creation__footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 2.75rem;
}

hr.ts-hr {
  border: 1px solid #eaeaea;
  margin: 0;
}

.ts-campaign-metrics {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  grid-row-gap: 0.625rem;
  margin-top: 0.875rem;
  justify-content: space-between;
}

.ts-campaign-metrics-header {
  color: var(--ts-font-color-60);
  font-size: 0.875rem;
}

.ts-campaign-totals {
  display: flex;
  justify-content: space-around;
}

.ts-campaign-total {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ts-campaign-total > .ts-section-heading {
  font-size: 0.75rem;
  line-height: 150%;
  color: var(--ts-font-color-60);
}

.ts-campaign-total > .ts-section-value {
  margin-top: 0.25rem;
  color: var(--ts-primary-color);
}

.ts-campaign-data-box {
  box-sizing: border-box;
  border: 1px solid #f0f0f0;
  border-radius: 0.75rem;
  padding: 1rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.ts-campaign-data-box > .ts-section-heading {
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ts-product-image {
  box-sizing: border-box;
  border: 1px solid #f0f0f0;
  border-radius: 0.75rem;
  width: 4.25rem;
  height: 4.25rem;
}

.ts-product-image--md {
  width: 4.75rem;
  height: 4.75rem;
}
.ts-campaign-summary-name {
  margin-right: 1rem;
  font-size: 1.125rem;
}

.ts-campaign-budget {
  display: flex;
  flex-direction: column;
  text-align: right;
  white-space: nowrap;
}

.ts-min-roas {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  font-style: italic;
  color: var(--ts-font-color-60);
  font-weight: 450;
}

.ts-min-roas > * {
  font-style: normal;
  font-weight: 500;
  color: var(--ts-font-color);
}

.ts-campaign-status-buttons {
  padding-top: 0.875rem;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}

.ts-budget-duration {
  margin-top: 0.875rem;
  display: flex;
  flex-direction: column;
}

.ts-svg {
  display: flex;
}
