/* Promote button */
.ts-product-promote-button {
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: #ddd6ff;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.ts-product-promote-button__text {
  color: #00042a;
  font-weight: 600;
}

/* Modal */
.ts-promote-modal {
  position: fixed;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20rem;
  max-height: 85vh;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0px 5px 8px rgb(0 0 0 / 10%);
  z-index: 1;
}

.ts-promote-modal--show {
  display: flex;
}

.ts-promote-modal--hide {
  display: none;
}

.ts-promote-modal__close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}

/* Campaign Creation */
.ts-campaign-creation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
