:root {
  /* Default primary rgb: */
  --ts-primary-rgb: 94, 59, 221;
  --ts-primary-color: rgb(var(--ts-primary-rgb));
  --ts-primary-color-90: rgba(var(--ts-primary-rgb), 0.9);
  --ts-primary-color-60: rgba(var(--ts-primary-rgb), 0.6);
  --ts-primary-color-40: rgba(var(--ts-primary-rgb), 0.4);
  --ts-primary-color-5: rgba(var(--ts-primary-rgb), 0.05);

  --ts-secondary-rgb: 24, 144, 255;
  --ts-secondary-color: rgb(var(--ts-secondary-rgb));
  --ts-secondary-color-90: rgb(var(--ts-secondary-rgb), 0.9);
  --ts-secondary-color-5: rgb(var(--ts-secondary-rgb), 0.05);

  /* Default font rgb: */
  --ts-font-rgb: 39, 42, 71;
  --ts-font-color: rgb(var(--ts-font-rgb));
  --ts-font-color-90: rgba(var(--ts-font-rgb), 0.9);
  --ts-font-color-70: rgba(var(--ts-font-rgb), 0.7);
  --ts-font-color-60: rgba(var(--ts-font-rgb), 0.6);
  --ts-font-color-40: rgba(var(--ts-font-rgb), 0.4);
  --ts-font-color-10: rgba(var(--ts-font-rgb), 0.1);
  --ts-font-color-5: rgba(var(--ts-font-rgb), 0.05);

  --ts-success-rgb: 95, 205, 15;
  --ts-success-color: rgb(var(--ts-success-rgb));
  --ts-success-color-20: rgba(var(--ts-success-rgb), 0.2);

  --ts-danger-rgb: 211, 47, 47;
  --ts-danger-color: rgb(var(--ts-danger-rgb));
  --ts-danger-color-90: rgba(var(--ts-danger-rgb), 0.9);
  --ts-danger-color-15: rgba(var(--ts-danger-rgb), 0.15);
  --ts-danger-color-5: rgba(var(--ts-danger-rgb), 0.05);

  --ts-disabled-rgb: 128, 128, 128;
  --ts-disabled-color: rgb(var(--ts-disabled-rgb));

  --ts-border: 0.0625rem solid var(--ts-primary-color);
  --ts-radius-xs: 0.25rem;
  --ts-radius-sm: 0.5rem;
  --ts-radius-md: 0.75rem;
}

hr.ts-hr {
  border: 1px solid #f4f4f4;
  margin: 0;
}

.ts-campaign-summary {
  background-color: var(--ts-secondary-color-5);
  display: flex;
  border-radius: var(--ts-radius-md);
  padding: 1rem;
}

.ts-product-image {
  background-color: #fff;
  object-fit: contain;
  box-sizing: border-box;
  border: 1px solid #f0f0f0;
  border-radius: var(--ts-radius-md);
  width: 4.25rem;
  height: 4.25rem;
}

.ts-product-image--md {
  width: 4.75rem;
  height: 4.75rem;
}

.ts-campaign-summary-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.25rem;
}

.ts-campaign-summary-time {
  font-weight: 450;
  font-size: 0.875rem;
  line-height: 150%;
  color: var(--ts-font-color-60);
}

.ts-svg {
  display: flex;
}

.ts-edit-campaign-button {
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.ts-campaign-budget-duration-title {
  display: flex;
  font-weight: 500;
  line-height: 1.25rem;
  align-items: center;
  justify-content: space-between;
}

.ts-campaign-budget-duration {
  display: flex;
  flex-direction: column;
}

.ts-budget-duration {
  display: flex;
  flex-direction: column;
  font-weight: 450;
  font-size: 0.875rem;
  line-height: 150%;
  color: var(--ts-font-color-60);
}
