.space-y-3-5>*:not(:first-child) {
  margin-top: 0.875rem;
}

.space-x-4>*:not(:first-child) {
  margin-left: 1rem;
}

.space-y-4>*:not(:first-child) {
  margin-top: 1rem;
}

.ts-flex {
  display: flex;
}

.ts-flex-row {
  flex-direction: row;
}

.ts-flex-col {
  flex-direction: column;
}

.ts-text-gray {
  color: #6B7280;
}

.ts-text-xs {
  font-size: 0.75rem;
  line-height: 150%
}

.ts-text-sm {
  font-size: 0.875rem;
}

.ts-text-lg {
  font-size: 1.125rem;
}

.ts-font-medium {
  font-weight: 500;
}

.ts-self-center {
  align-self: center;
}