.space-y-3-5>*:not(:first-child) {
  margin-top: 0.875rem;
}

.space-x-4>*:not(:first-child) {
  margin-left: 1rem;
}

.space-y-4>*:not(:first-child) {
  margin-top: 1rem;
}

.p-4 {
  padding: 1rem;
}

.p-3-5 {
  padding: 0.875rem;
}

.p-y-3-5 {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

.h-17 {
  height: 4.25rem;
}

.w-17 {
  width: 4.25rem;
}

.w-fit {
  width: fit-content;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.text-gray {
  color: #6B7280;
}

.text-purple {
  color: var(--ts-primary-color);
}

.text-xs {
  font-size: 0.75rem;
  line-height: 150%
}

.text-sm {
  font-size: 0.875rem;
}

.text-lg {
  font-size: 1.125rem;
}

.font-medium {
  font-weight: 500;
}